@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',Georgia, 'Times New Roman', Times, serif; 
    box-sizing: border-box;
}


body{
    padding: 0;
    margin: 0;
}

a,a:hover{
    text-decoration: none;
}
.mt-20px{
    margin-top: 20px;
}
.border{
    border-right: 1px solid rgb(255, 255, 255/0.4);
}
.btn-green{
    display: inline-block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 900;
    color: rgb(0, 105, 19);
    padding: 10px 30px;
    border-radius:2px ;
    position: relative;
    border: 1px solid #01ca8b;
    box-shadow: 1px solid #01ca8b inset;
    transition: all 350ms ease;
}
.btn-green i{
    margin-right: 6px;   
}
.btn-green:hover{
    box-shadow: 0 0 0 0 #01ca8b inset;
    background: rgb(181, 227, 203);
    color: #52d2a9;
}
.btn-transparent{
    border: 1px solid #fff;
}
header{
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 85px;
    border-bottom: 1px solid #fff;
    background-color:  #67c2e1;
    margin-left:250px;
    position: fixed;
}

.header-active{
    position: fixed;
    background:  #000;
    z-index: 1;
    top:0;
    animation: anim1;
    animation-duration: 0.8s;
}

@keyframes anim1{
    from{top: -200px;}
    to{top: 0;}
    
}
.logo {
    display: inline-block;
    padding-right: 30px;
    width: 30px;
    margin: 1;
}
.logo i{
    color: white;
  
    
}
.menu{
    margin-left:750px ;
    display: inline-block;
    
}
.menu ul li{
    display: inline-block;
    list-style-type: none;
    margin: 0 20px;
    font-family: cursive;
    margin-top: 20px;
}

.menu ul li a {
    color: #fff ;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    


}

.menu ul li a::before{
content: '';
position:absolute;
background: #fff;
height: 2px;
bottom: -5px;
left:0;
transition:0.2 ease-in-out ;
}
.menu ul li a:hover::before{
    width: 100%;
}

.sidebar{
    position:fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #2596be;
    transition: all .5s ease;   
}
.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 10px;
    box-sizing: border-box;
    transition: .4s;
    margin-top: 40px;
    /* border-top: 1px solid rgba(255, 255, 255, 1); */
    border-bottom: 1px solid #B9F3FC;
}
.sidebar ul a i{
    margin: 10px;
   
}
.sidebar ul li:hover a{
    padding-left: 50px;
}

#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background: #2596be;
    border-radius: 3px;
    position:inherit;
}
label  #btn{
    left: 10px;
    top: 70px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    padding: 6px 12px;
    transition: all .5s ease ;
    position: fixed;
}
label  #cancel{
    z-index: 1111;
    left: 195px;
   
    margin-top: 0;
    margin-left: 30px;
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 4px 9px;
    
    transition: all .5s ease ;
    
}
#check:checked~.sidebar{
    left: -280px; ;
}

#check:checked~ label #cancel{
    left:-250px ;
    opacity: 0;
    padding-top: none;
   
}

#check:checked~ label #cancel{
    
    left:195px;
}
#check:checked~ section{
    margin-left: 60px;
   
} 
.main p{  
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-left: auto;
font-size: large;
font-style: italic;
margin-left: 400px;
color: #001350;
position: fixed;
}






