body{
 
 background-position: center;
 background-size: cover;
 background-color: #3c87ff;
 flex-direction: column;

}

.h{
	display: flex;
  align-items: center;
  margin-top: 5px;
}
.h img{
	margin-right: 20px;
}
img{
	margin-top: 190px;
	margin-left: 30px;
}

.c{
  height: 90vh;
  width: 90vw;
  display: flex;
 
}
table
{
  margin: 80px;
	width: 450px;
	height: 450px;
	margin-left: -220px;
	margin-top: 90px;
	border: solid rgb(10, 3, 199) 1px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	box-shadow: 0 0 4px 4px rgb(30, 2, 156);
	background-color: white;

}
h3{
 text-align: center;
}

input{
 padding: 2px;
 margin: 1px;
    height: 25px;
 

}
label{
	margin-left: 20px;
	
	font-size: 14px;
	width: 130px;
	   height: 30px;
}

h2{
 font-size: 40px;
 color:rgb(253, 253, 253);
 text-align: center;
 align-content: center;
 margin-left: 310px;


}


td{

 text-align: left;

 margin-right: 10px;
 width: 130px;
 color: rgb(18, 6, 246);


}

.btn{
	text-align: center;
	align-items: center;
	align-content: center;
	margin-left: 150px;
	color:rgb(17, 7, 205); 
}

.bt{
	text-align: center;
	align-items: center;
	align-content: center;
	margin-left: 138px;
	color:rgb(17, 7, 205); 
	border-radius: 10%;
	background-color:#fff; 
	text-decoration-color: white;
	border:1px solid #fff;
	cursor: pointer;

}

 select{
	 text-align: left;
    width: 175px;
    height: 30px;
}
/*pdf*/
.piece{
	background-color: #fff;
	height: 800px;
	width: 750px;
	position: relative;
	margin-left: 250px;

}


.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;

}
.logo img{
	width: 70px;
	margin-top: 10px;
	border-radius: 50%;
}
.logo p{
	margin-left: 20px;
	font-weight: bold;
	margin-top: 40px;
}
h1{
	text-align:center;
	margin: 20px 0; 
	color: #3c87ff;
}
.elements{
	margin-left: 25px;
	background-color: rgb(244, 242, 239);
	align-content: center;
	margin-right: 25px;
	margin-top: 25px;

}
.elements p{
	margin: 15px 10;
	font-size: 20px;
	margin-left: 20px;
}
.certification{
	position: absolute;
	right: 20px;
	text-align: center;
}

.certificaton img{
	width: 35px;
	border-radius: 50%;


}


.certification p{
	font-family: 'Grey Qo', cursive;
	font-size: 30px;
}

.generateurBtn{
	display: flex;
	align-items: center;
	align-content: center;
	margin-left: 40%;
	

}

.generateurBtn button{
	padding: 10px 

}

.generateurBtn a{
	text-align:center;
	text-decoration: 0;
	padding: 10px 3px;
	margin-left: 20px;
}

.contact{
	align-content: center;

}
.contact p{
	margin-left: 20px;
	font-family: 'Grey Qo', cursive;
}
 #rm{
	margin-left: 550px;
	margin-top: 120px;

}


hr{
	display: block;
	margin-bottom: 0.5rem;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 2px;
}
page-container {
    display: flex;
    justify-content: center;
  }